<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="APISuite" parallel="tests">
    <listeners>
        <listener
                class-name="com.qa.listeners.ExtentListeners">
        </listener>
    </listeners>
    <test thread-count="5" name="Create User API Test">
       <packages>
           <package name="com.qa.tests"/>
       </packages>
    </test> <!-- CreateCustomerAPITest -->
</suite> <!-- APISuite -->